In [9]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_excel("sentence_level_review_and_scores.xlsx")

In [5]:
df["score_min_max_scaled"] = df["score_min_max_scaled"]*5 
df_reviews = df.groupby(["prof_id",'review_id']).mean()
df_prof = df.groupby(["prof_id"]).mean()

In [20]:
df_reviews.to_excel("reviews_and_scores.xlsx")

In [17]:
# minmax_scaler = MinMaxScaler()

df_prof['score_scaled'] = minmax_scaler.fit_transform(df_prof['score'].values.reshape(-1,1))*5
        
df_prof[['score','score_min_max_scaled','score_scaled']]
# df_prof[['score','score_min_max_scaled']]

            score  score_min_max_scaled  score_scaled
prof_id
1        2.817598              2.583718      2.769053
8        2.973568              2.810419      3.063336
9        2.686259              2.392818      2.521242
10       2.687229              2.394228      2.523073
11       2.942687              2.765533      3.005069
...           ...                   ...           ...
13787    4.000000              4.302326      5.000000
13789    3.000000              2.848837      3.113208
13790    2.312000              1.848837      1.815094
13793    3.272000              3.244186      3.626415
13794    2.262857              1.777409      1.722372

[3359 rows x 3 columns]

In [19]:
df_prof.sort_values('score').to_excel("prof scores.xlsx")